<a href="https://colab.research.google.com/github/abhisripathi/ML-Python-project/blob/main/ML%26python%20project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries:

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.datasets import load_iris
iris_dataset = load_iris()

In [ ]:
print("keys of iris_dataset: \n{}" .format(iris_dataset.keys()))

keys of iris_dataset:
dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
print(iris_dataset['DESCR'][:193] + "\n...")

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, pre
...

In [ ]:
print("Target names: {}" .format(iris_dataset['target_names']))

Target names: ['setosa' 'versicolor' 'virginica']

In [ ]:
print("Feature names: \n{}" .format(iris_dataset['feature_names']))

Feature names:
['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [ ]:
print("Type of data: {}" .format(type(iris_dataset['data'])))

Type of data: <class 'numpy.ndarray'>

In [ ]:
print("Shape of data {}" .format(iris_dataset['data'].shape))

Shape of data (150, 4)

In [ ]:
print("First five columns of data :\n{}" .format(iris_dataset['data'][:5]))

First five columns of data :
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

In [ ]:
print("Type of target: {}" .format(iris_dataset['target']))

Type of target: [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [ ]:
print("Shape of target: {}" .format(iris_dataset['target'].shape))

Shape of target: (150,)